*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
#container{
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    margin-top: 20px;
    display: flex;
    gap: 12px;
}
#todosInp{
    border-radius: 5px;
    padding: 5px 8px;
    border: none;
    background-color: rgb(239, 239, 239);
    width: 250px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#addTodoBtn{
    padding: 5px 10px;
    border: none;
    background-color: dodgerblue;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
#todos_box{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#todos_box div{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px 10px;
}
#deleteBtn{
    border: none;
    background-color: rgb(255, 85, 85);
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
}
.marked .task{
    text-decoration: line-through;
    color: gray;
}

@media (max-width:400px){
    h1{
        font-size: 20px;
    }
    #todosInp{
        width: 120px;
    }
    #todos_box div{
        width: 170px;
    }
}